
<div *ngIf="hotel && hotel.err" class="alert alert-danger" role="alert">
        Hotel no encontrado
    </div>
<div *ngIf="hotel && !hotel.err" class="card card-hotel shadow p-3 mb-5 bg-white rounded" >
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="container-hotel-image">
                    <img [src]="hotel.image | imagen:'hotels'"  class="hotel-image" >
                </div>
            </div>
            <div class="col-md-12 col-lg-4 justify-content-center align-self-center">
                    <div  class="hotel-price">
                            <div class="container-hotel-name">
                                    <h4>{{ hotel.name }}</h4> 
                             </div>
                        <div  class="price-text">
                            <p>
                                <span >Precio por noche por </span>
                                <br>
                                <span>habitación</span>
                            </p>
                        </div>
                        <div  class="price-container">
                            <p  >
                                <span  class="price_currency">ARS&nbsp;</span>
                                <span  class="price">{{hotel.price}}</span>
                            </p>
                        </div>
                            <button type="button" (click)="deleteHotel()" class="btn btn-danger btn-lg btn-block">Borrar hotel</button>
                        
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 container-hotel-data">
                    <div class="row">
                        <div class="col-12 description-hotel">
                                <app-stars wd="30"  *ngFor="let star of ' '.repeat(hotel.stars).split('')"></app-stars>
                        </div>
                        <div class="col-12 description-hotel">
                                <app-amenities style="padding: 5px;" *ngFor="let amenitie of hotel.amenities.sort()" [amenitie]="amenitie"></app-amenities>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    